################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HFT_26271_S10.ProjectManager/.vs/HFT_26271_S10.ProjectManager.slnx/FileContentIndex/13074c6a-a681-4c46-a5f8-3176d353fb87.vsidx
