################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HFT_26271_S10.ProjectManager/.vs/HFT_26271_S10.ProjectManager.slnx/FileContentIndex/13074c6a-a681-4c46-a5f8-3176d353fb87.vsidx
/HFT_26271_S10.ProjectManager/.vs/HFT_26271_S10.ProjectManager.slnx/FileContentIndex/45be1abb-5af3-431d-af12-aa29306c5b30.vsidx
/HFT_26271_S10.ProjectManager/.vs/HFT_26271_S10.ProjectManager.slnx/FileContentIndex/68031beb-eb9c-4099-9ceb-702513a4f370.vsidx
/HFT_26271_S10.ProjectManager/.vs/HFT_26271_S10.ProjectManager.slnx/FileContentIndex/8a74a749-49c7-41c2-a817-e62565f764a6.vsidx
/HFT_26271_S10.ProjectManager/.vs/HFT_26271_S10.ProjectManager.slnx/FileContentIndex/bdb7509d-98ad-4b98-9dcb-6d6e17961e9b.vsidx
